<div class="container">

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <%= @cocktail.name %>
</div>

<% @cocktail.doses.each do |dose| %>
  <p class="card-text"><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "", dose_path(dose), method: :delete , class: "fas fa-trash-alt"  %></p>
<% end %>

<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-dark"  %>

</div>
