<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h3><%= link_to "Cocktailer", cocktails_path, style: "text-decoration: none; color: #FA672B"  %></h3>
      <div class="d-flex">
        <p><%= link_to "Our menu", cocktails_path, class: "btn btn-outline-dark ml-4" %> </p>
        <p><%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-outline-dark ml-4" %> </p>
      </div>
    </div>

      <%= yield %>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
